# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
ENV/
env/
.ipynb_checkpoints/

# Results & large files
results/*.csv
results/*.json
results/*.tsv
results/*.txt

# Allow small example CSVs
!results/examples/*.csv

# Logs
*.log

# IDE settings
.vscode/
.idea/
.DS_Store
